---
import { ClientRouter } from "astro:transitions";
import '@fontsource-variable/anybody';
import '@fontsource-variable/geologica';
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";

type Props = {
  hasFooter?: boolean;
}

const { hasFooter=true } = Astro.props;
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<BaseHead />
    <ClientRouter />
	</head>
	<body class="bg-pearl-200 dark:bg-dark-600 text-dark-100 dark:text-pearl-700 font-sans leading-normal">
    <Header />
    <main class="min-h-svh">
      <slot />
    </main>
    {hasFooter && <Footer />}
	</body>
</html>
